*~
controller_caracal/manifests/params.pp
controller_caracal/files/CloudVenetoCAs.pem
controller_caracal/files/id_rsa_ctrl-01
controller_caracal/files/id_rsa_controller-01
controller_caracal/files/id_rsa_cloudtest
controller_caracal/files/INFN-CA.pem
controller_caracal/files/cafile.pem
controller_caracal/files/ceph.conf
controller_caracal/files/ceph-ec.conf
controller_caracal/files/ceph.client.cinder-prod.keyring
controller_caracal/files/ceph.client.cinder-cloudtest.keyring
controller_caracal/files/ceph.client.glance-prod.keyring
controller_caracal/files/ceph.client.glance-cloudtest.keyring
compute_caracal/manifests/params.pp
compute_caracal/files/CloudVenetoCAs.pem
compute_caracal/files/id_rsa_ctrl-01
compute_caracal/files/id_rsa_controller-01
compute_caracal/files/INFN-CA.pem
compute_caracal/files/cafile.pem
compute_caracal/files/ceph.conf
compute_caracal/files/nagios_check_ovs.sh
compute_caracal/files/check_kvm_wrapper.sh
compute_caracal/files/secret.xml
compute_caracal/files/secret_test.xml
compute_caracal/files/check_lvs.py.orig
compute_caracal/files/id_rsa_cloudtest
compute_caracal/files/id_rsa_4096
compute_caracal/files/id_rsa_4096.pub
compute_caracal/files/id_rsa_ctrl-01.old
